<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{login.css}">
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
<div class="container">
    <form th:action="@{/login}" method="post">
        <div class="form-header">
            <h1>Hello</h1>
        </div>
        <hr>
        <div class="form-body">
            <input type="text" placeholder="Tên đăng nhập" name="username">
            <input type="password" placeholder="Mật khẩu" name="password">
            <p class="message" th:text="${message}"></p>
            <input type="submit" value="Đăng nhập" id="btn1">
            <a th:href="@{/register}" id="btn2">Đăng ký</a>

        </div>
    </form>

</div>
</body>
</html>