<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{login.css}">
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
<div class="container">
    <form class="form-register" th:action="@{/register}" method="post">
        <div class="form-header ">
            <h1>Register</h1>
        </div>
        <hr>
        <div class="form-body">
            <input type="text" placeholder="Tên đăng nhập" name="username">
            <input type="password" placeholder="Mật khẩu" name="password">
            <input type="text" placeholder="Họ và tên" name="fullname">
            <p id="mess" th:text="${message}"></p>
            <input type="submit" value="Đăng ký" id="btn1">
            <a th:href="@{/login}" id="btn2">Đăng nhập</a>
        </div>
    </form>
</div>
</body>
</html>